name: Check GraphQL Diff

on:
  pull_request:

jobs:
  check-diff:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04]
        go-version:
          - 1.20.6

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Go ${{ matrix.go-version}}
      uses: actions/setup-go@v3
      with:
        go-version: ${{ matrix.go-version}}

    - name: Run make check-diff
      run: |
        make check-diff
