name: Release

on:
  push:
    tags:
      - "*"

jobs:
  build_linux:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04]
        go-version:
          - 1.20.6

    steps:
      - uses: actions/checkout@v3

      - name: Set up Go ${{ matrix.go-version}}
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}

      - name: Build
        run: go build

      - name: (only on release) Upload artifacts ${{ matrix.os }}
        uses: actions/upload-artifact@master
        with:
          name: ${{ matrix.os }}
          path: gqlmerge
          if-no-files-found: error

  build_macos:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macOS-latest]
        go-version:
          - 1.20.6

    steps:
      - uses: actions/checkout@v3

      - name: Set up Go ${{ matrix.go-version}}
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}

      - name: Build
        run: go build

      - name: (only on release) Upload artifacts ${{ matrix.os }}
        uses: actions/upload-artifact@master
        with:
          name: ${{ matrix.os }}
          path: gqlmerge
          if-no-files-found: error

  release:
    needs: [build_linux, build_macos]
    name: Release
    runs-on: ubuntu-20.04
    steps:
      - name: Download linux artifacts
        if: success()
        uses: actions/download-artifact@master
        with:
          name: ubuntu-20.04
          path: binaries/linux

      - name: Download macOS artifacts
        if: success()
        uses: actions/download-artifact@master
        with:
          name: macOS-latest
          path: binaries/darwin

      - name: Move artifacts
        if: success()
        run: |
          mv binaries/linux/gqlmerge gqlmerge-linux
          mv binaries/darwin/gqlmerge gqlmerge-macos

      - name: Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: |
            gqlmerge-linux
            gqlmerge-macos
